# Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [38]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [39]:
chipo = pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")

### Step 4. See the first 10 entries

In [40]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [41]:
print(len(chipo))
print(len(chipo.index))
print(chipo.shape[0])

4622
4622
4622

### Step 6. What is the number of columns in the dataset?

In [42]:
print(len(chipo.columns))
print( chipo.shape[1])

5
5

### Step 7. Print the name of all the columns.

In [43]:
for clm in chipo.columns:
    print(clm)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [44]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most ordered item?

In [45]:
print(chipo['item_name'].value_counts(ascending = False).index[0], ' : ', chipo['item_name'].value_counts(ascending = False)[0])

Chicken Bowl  :  726

### Step 10. How many items were ordered?

In [46]:
chipo[chipo['item_name'] == 'Chicken Bowl'].shape[0]

726

### Step 11. What was the most ordered item in the choice_description column?

In [47]:
chipo['choice_description'].value_counts(ascending=False).head(10)

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]]                  36
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                         33
[Lemonade]                                                                            33
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream, Lettuce]]                             29
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]                                     28
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?

In [48]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

In [55]:
chipo['item_price'] = chipo['item_price'].str.extract('([^\$]+)').astype(float, expand=False)

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

### Step 14. How much was the revenue for the period in the dataset?

In [64]:
# chipo['order_price'] = chipo['item_price']*chipo['quantity']
#  量をかけた値じゃなくていいらしい。。。
chipo['item_price'].sum()

34500.16000000046

### Step 15. How many orders were made in the period?

In [72]:
len(chipo.groupby('order_id'))

1834

### Step 16. What is the average amount per order?

In [73]:
chipo.groupby('order_id', as_index=False)

### Step 17. How many different items are sold?